/*
|-------------------------------------------------------------------------------
| CHEATSHEET: JavaFX CSS
| http://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
| http://docs.oracle.com/javafx/2/css_tutorial/jfxpub-css_tutorial.htm
| http://fxexperience.com/2010/05/how-to-embed-fonts/
|-------------------------------------------------------------------------------
| Styling objects and Selectors
|---------------------------------------
|
| Nodes:
|   Containers:
|       Group
|       Node
|       Parent
|       Scene
|       ImageView
|       AnchorPane
|       BorderPane
|       FlowPane
|       GridPane
|       HBox
|       VBox
|       Pane
|       Region // It is typically a rounded rectangle like fieldset
|       StackPane
|       TilePane
|
|   Shape:
|       Arc
|       Circle
|       CubicCurve
|       Ellipse
|       Line
|       Path
|       Polygon
|       QuadCurve
|       Rectangle
|       SVGPath
|
|   WebView
|
|   Controls:
|       Accordion
|       Button
|       ButtonBase
|       Cell // special property: -fx-cell-size
|       CheckBox
|       CheckMenuItem
|       ChoiceBox
|       ColorPicker
|       ComboBox
|       ComboBoxBase
|       Control
|       Hyperlink
|       IndexedCell
|       Label
|       Labeled
|       ListCell
|       ListView
|       Menu
|       MenuBar
|       MenuButton
|       MenuItem
|       Pagination
|       PasswordField
|       PopupControl
|       ProgressBar
|       ProgressIndicator
|       RadioButton
|       RadioMenuItem
|       ScrollBar
|       ScrollPane
|       Separator
|       Slider
|       SplitMenuButton
|       SplitPane
|       TabPane
|       TableView
|       TextArea
|       TextInputControl
|       TextField
|       TitledPanel // special properties: -fx-animated, -fx-collapsible
|       ToggleButton
|       ToolBar
|       Tooltip
|       TreeCell
|       TreeView
|
|   Charts: // They have many special property
|       AreaChart
|       BarChart
|       BubbleChart
|       Chart
|       LineChart
|       ScatterChart
|       PieChart
|       XYChart
|           Axis
|           ValueAxis
|           NumberAxis
|           CategoryAxis
|           Legend
|
| Pseudo-classes:
|   :hover
|   :visited // Only for hyperlinks
|   :focused // Instead of :focus
|   :pressed // Instead of :active
|   :disabled
|   :vertical // .scroll-bar:vertical
|   :selected // ToggleButton, Checkboxes, RadioMenuItem
|
| Not supported pseudo-classes and pseudo-elements:
|   :after, :before, :active, :focus, :first-child, :first-line, :first-letter,
|   :lang, :link
|
|---------------------------------------
| Color formats, properties, functions,
|---------------------------------------
|
| #000 // Preferred
| rgb(49, 89, 23)
| rgba(255, 0, 0, .44)
|
| -fx-opacity:
| -fx-blend-mode: [ add | blue | color-burn | color-dodge | darken | difference
|   exclusion | green | hard-light | lighten | multiply | overlay | red | screen
|   soft-light | src-atop | src-in | src-out | src-over ]
| -fx-text-fill: derive(#000, 20%);
|   function to make color lighter or darker (-<number>%)
|
| transparent > null // -fx-background-color: null
|
|---------------------------------------
| Properties
|---------------------------------------
|
| Base and common
|   -fx-background: #f7f8fa;
|   -fx-base: #515458;
|
|   -fx-cursor  [ null | crosshair | default | hand | move | e-resize | h-resize
|       ne-resize | nw-resize | n-resize | se-resize | sw-resize | s-resize
|       w-resize | v-resize | text | wait ] | <url>
|   visibility  [ visible | hidden | collapse | inherit ]
|
| Text
|   -fx-text-fill: #000; // color
|   -fx-font: bold italic 13px serif; -fx-font: 2px 'sans-serif';
|   -fx-font-family // 'sans-serif', 'serif', 'monospace', 'system'
|   -fx-font-size
|   -fx-font-style
|   -fx-font-weight
|   -fx-text-alignment: center;
|   -fx-underline
|
|   -fx-font-smoothing-type [ gray | lcd ]  default is gray
|   -fx-strikethrough   <boolean>
|   -fx-text-origin [ baseline | top | bottom ] baseline
|
| Not supported text properties
|   comma-separated series of font family names, line height, font-variant
|
| Box
|   -fx-padding: 3 6 6 6;
|   -fx-padding: 10;
|   -fx-spacing: 8; // Looks like margins
|
| Background
|   -fx-fill: yellow;
|   -fx-background-color // <color> | <linear-gradient> | <radial-gradient>
|   -fx-background-color: linear-gradient(from top to bottom, #0099d9, #0066cc 84%, #007ad9 100%);
|       linear-gradient( [ [from <point> to <point>] | [ to <side-or-corner>], ]? [ [ repeat | reflect ], ]? <color-stop>[, <color-stop>]+)
|       <side-or-corner> = [left | right] || [top | bottom]
|       linear-gradient(from 0 0 to 100% 100%, red, black 100%)
|       from top left to bottom right, red to black
|       linear-gradient(from 0 0 to 0 50px, gray, darkgray 50%, dimgray 99%, white)
|       create a 50px high bar at the top with a 3 color gradient
|       with white underneath for the rest of the filled area.
|   -fx-background-color: radial-gradient(radius 100%, red, darkgray, black)
|   -fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, gray, darkgray 75%, dimgray)
|
|   -fx-background-insets: 0.0 5.0 0.0 5.0;
|       A series of size values or sets of four size values, separated by commas.
|       A single size value means all insets are the same. Otherwise, the four
|       values for each inset are given in the order top, right, bottom, left.
|       Each comma-separated value or set of values in the series applies to the
|       corresponding background color.
|
|   -fx-background-radius: 20; // I think it's addition for border-radius
|
|   -fx-background-image: url('img/arrow.png')
|   -fx-background-repeat: no-repeat;
|   -fx-background-position:
|   -fx-background-size: 20px, 40px; // NB: values are separated by commas
|
| Effects
|   -fx-effect: dropshadow( gaussian, black, 8 , 0.0, 2, 0 );
|   -fx-effect: innershadow( gaussian, black, 8 , 0.0, 2, 0 );
|       dropshadow( <blur-type>, <color>, <size>, <choke>, <x>, <y>)
|       blur-type: gaussian | one-pass-box | three-pass-box | two-pass-box
|
| Border
|   -fx-border-width: 2px;
|   -fx-border-color: rgb(49, 89, 23);
|   -fx-border-style
|       <dash-style> [phase <number>]? [centered | inside | outside]?
|           [line-join [miter <number> | bevel | round]]?
|           [line-cap [square | butt | round]]?
|           <dash-style> = [ none | solid | dotted
|           dashed | segments( <number>, <number> [, <number>]*) ]
|   -fx-border-radius: 5px;
|   -fx-border-insets
|   -fx-stroke-width: 5px;
|   -fx-stroke: green;
|
|   -fx-border-image-source: url(img/border.png)
|   -fx-border-image-width
|   -fx-border-image-insets
|   -fx-border-image-repeat [repeat-x | repeat-y | [repeat | space | round | no-repeat]
|   -fx-border-image-slice
|
| Distribution and Alignment
|   -fx-spacing // HBox and VBox — gaps (margins) between the childs
|   -fx-hgap // FlowPane, GridPane, TilePane  — gaps (margins) between the childs
|   -fx-vgap // ——||——
|
|   -fx-alignment   [ top-left | top-center | top-right | center-left | center
|       center-right bottom-left | bottom-center | bottom-right | baseline-left
|       baseline-center | baseline-right ]  top-left
|   -fx-orientation [ horizontal | vertical ]
|       FlowPane, TilePane, ListView, ScrollBar, Separator, Slider,
|       SplitPane, ToolBar
|   -fx-column-halignment   [ left | center | right ]
|   -fx-row-valignment  [ top | center | baseline | bottom ]
|   -fx-orientation [ horizontal | vertical ]
Ё
| Transformation
|   -fx-rotate: 45;
|   -fx-scale-x
|   -fx-scale-y
|   -fx-scale-z
|   -fx-translate-x
|   -fx-translate-y
|   -fx-translate-z
|
| Misc
|   Webview
|       -fx-font-scale
|       -fx-min-width
|       -fx-min-height
|       -fx-pref-width
|       -fx-pref-height
|       -fx-max-width
|       -fx-max-height
|
|   Labeled object
|       -fx-graphic
|       -fx-wrap-text
|       -fx-content-display
|       -fx-graphic-text-gap
|       -fx-label-padding
|       -fx-ellipsis-string
|
|   Pagination
|       -fx-max-page-indicator-count
|       -fx-arrows-visible
|       -fx-tooltip-visible
|       -fx-page-information-visible
|       -fx-page-information-alignment
|
|   ProgressBar
|       -fx-indeterminate-bar-length
|       -fx-indeterminate-bar-escape
|       -fx-indeterminate-bar-flip
|       -fx-indeterminate-bar-animation-time
|
|   ScrollPane
|       -fx-fit-to-width
|       -fx-fit-to-height
|       -fx-pannable
|       -fx-hbar-policy
|       -fx-vbar-policy
|
| ???????
|
|   -fx-image
|   -fx-background-fills // shorthand for -fx-background-color,
|       -fx-background-insets, -fx-background-radius.
|   -fx-background-images // shorthand for -fx-background-image,
|       -fx-background-position, -fx-background-repeat, -background-size.
|   -fx-stroke-borders // shorthand for -fx-border-color, -fx-border-insets,
|       -fx-border-radius, -fx-border-style, -fx-border-width.
|   -fx-image-borders // shorthand for -fx-border-image-source,
|       -fx-border-image-insets, -fx-border-image-repeat,
|       -fx-border-image-slice, -fx-border-image-width.
|   -fx-position-shape
|   -fx-scale-shape
|   -fx-shape
|   -fx-snap-to-pixel
|
|---------------------------------------
| Naming convention: prefixes in selectors
|---------------------------------------
| a — link
| art - article
| box — box
| bnr — banner
| btn — button
| cbx — checkbox
| doc — document
| f — form
| ftr — feature
| gl - global
| i — input
| ico — icon
| l - list
| ln - line
| m — menu
| mob — mobile, i.e. smartphones
| p — page
| pc - desktop computer
| plc - placeholder
| rb — radio button
| s — select
| sec — page section, block
| sl - slider
| sm — submenu
| ta — textarea
| tbl — tablet
| tbn — thumbnail
| tsr — teaser
| txt - text
|
*/

.root {
    -fx-background-color: #f7f8fa;
    -fx-font: 13px 'Arial';
    -fx-mid-text-color: #515458;
}

/*
|-------------------------------------------------------------------------------
| Sidebar
|-------------------------------------------------------------------------------
*/

.sidebar {
    -fx-background-color: #484a4d;
}

.sidebar .toggle-button, .sidebar .button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60px, 400px;
    -fx-border-insets: 0;
    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-border-width: 1px 0;
    -fx-padding: 0;
}

.sidebar .toggle-button:disabled, .sidebar .button:disabled {
    -fx-opacity: .44;
}

.sidebar .toggle-button:pressed, .sidebar .toggle-button:selected,
.sidebar .button:pressed {
    -fx-background-color: #37393b;
    -fx-border-color: #2d2f31 #2d2f31 #535657 #535657;
}

.btn-run {
    -fx-background-image: url('images/btns/run.png');
}

.btn-run:focused, .btn-run:hover {
    -fx-background-image: url('images/btns/run-hover.png');
}

.btn-run:pressed, .btn-run:selected {
    -fx-background-image: url('images/btns/run-down.png');
}

.btn-pause {
    -fx-background-image: url('images/btns/pause.png');
}

.btn-pause:focused, .btn-pause:hover {
    -fx-background-image: url('images/btns/pause-hover.png');
}

.btn-pause:pressed, .btn-pause:selected {
    -fx-background-image: url('images/btns/pause-down.png');
}

.btn-build {
    -fx-background-image: url('images/btns/build.png');
}

.btn-build:focused, .btn-build:hover {
    -fx-background-image: url('images/btns/build-hover.png');
}

.btn-build:pressed, .btn-build:selected {
    -fx-background-image: url('images/btns/build-down.png');
}

.btn-settings {
    -fx-background-image: url('images/btns/settings.png');
}

.btn-settings:focused, .btn-settings:hover {
    -fx-background-image: url('images/btns/settings-hover.png');
}

.btn-settings:pressed, .btn-settings:selected {
    -fx-background-image: url('images/btns/settings-down.png');
}

.btn-more {
    -fx-background-image: url('images/btns/more.png');
}

.btn-more:focused, .btn-more:hover {
    -fx-background-image: url('images/btns/more-hover.png');
}

.btn-more:pressed {
    -fx-background-image: url('images/btns/more-down.png');
}

/*
|-------------------------------------------------------------------------------
| Main Area
|-------------------------------------------------------------------------------
*/

.title-bar {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #e1e4e8;
    -fx-font: 17px 'Roboto';
    -fx-padding: 9px 60px 10px 0;
    -fx-effect: dropshadow(gaussian, #f1f4f8, 0, 0, 0, 1px);
}

/*
|-------------------------------------------------------------------------------
| Status Bar
|-------------------------------------------------------------------------------
*/

.status-bar {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #dde0e4;
    -fx-padding: 12px 10px 11px 8px;
}

.filters {
    -fx-spacing: 2px;
}

.filters .toggle-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 12px;
    -fx-text-fill: #83868a;
    -fx-padding: 1px 6px 0 6px;
}

.filters .toggle-button:hover, .filters .toggle-button:selected {
    -fx-background-color: #dbdee2;
}

.status-bar .label {
    -fx-text-fill: #83868a;
    -fx-padding: 0;
}

/*
|-------------------------------------------------------------------------------
| List View
|-------------------------------------------------------------------------------
*/

.list-view {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-cell {
    -fx-background-color: null;
    -fx-padding: 5px 15px 7px 36px;
    -fx-text-fill: #515458;
    -fx-hbar-policy: never;

}

#log-text {
    -fx-fill: #515458;
    -fx-font-size: 15px;
    -fx-font-smoothing-type: lcd;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.list-cell:odd {
    -fx-background-color: #ebeef2;
}

.list-cell:selected {
    -fx-background-color: #deeeff;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: #bfd9f2;
    -fx-padding: 4px 15px 6px 36px;
}

.error, .info, .warning {
    -fx-background-position: 10px 6px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16px, 16px;
    -fx-wrap-text: true;
}

.error {
    -fx-background-image: url('images/messages/error.png');
}

.info {
    -fx-background-image: url('images/messages/info.png');
}

.warning {
    -fx-background-image: url('images/messages/warning.png');
}
